# This file is for unifying the coding style for different editors and IDEs.
# More information at http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file.
# Tab for indentation, whitespace trimming and UTF-8 encoding
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = false

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf

[{package.json,.travis.yml}]
indent_size = 2
indent_style = space

[**.{css, pcss, scss,json,sh}]
indent_size = 2
indent_style = space
