/* Team */

.team {
  blockquote::before {
    content: "“";
    font-weight: bold;
  }

  blockquote::after {
    content: "”";
    font-weight: bold;
  }

  blockquote::before,
  blockquote::after {
  }

  blockquote {
    margin: 0 0 0.5em 0;
  }

  li {
    display: inline-block;
    line-height: 1;
    margin-left: 1em;
    padding-left: 1em;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  & .spotlights {
    > section {
      > span.image {
      }

      .image {
        width: 40%;

        @include breakpoint(medium) {
          width: auto;
        }
      }

      > .content {
        width: calc(60% - 3em);

        @include breakpoint(medium) {
          width: auto;
        }
      }
    }
  }

  @include breakpoint(xsmall) {
    blockquote {
      max-width: 80%; /* for responsiveness */
    }
    li {
      display: block;
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
      line-height: inherit;
    }
  }
}
